[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple/"
verify_ssl = true

[dev-packages]

[packages]
mongoengine = "*"
bcrypt = "*"
docker = "*"
aiohttp = "*"
aiohttp-devtools = "*"

[requires]
python_version = "3.7"
